body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.robot-card {
  background-color: #d9d9d9 !important;
  border-radius: 0 !important;
  border-color: #000000 !important;
  border-width: 1px !important;
}

.robot-card-img {
  max-width: 210px !important;
  max-height: 200px !important;
  margin: 0 auto;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 !important;
}

.robot-card-title {
  font-size: small;
  font-weight: bolder;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.robot-card-text {
  font-size: medium;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.banner-img {
  display: flex;
  margin: 0 auto;
  max-width: 1100px !important;
}

.upper-break {
  max-width: 70% !important;
  margin: 0 auto;
}

.title {
  padding-top: 40px;
}

.contact-banner {
  margin-top: auto;
  padding-top: 40px;
}

.lower-break {
  max-width: 70% !important;
  margin: 0 auto;
}

.auth-input {
  max-width: 500px !important;
  margin: 0 auto;
  background-color: #d9d9d9 !important;
  border-radius: 0 !important;
  border-color: #590000 !important;
  border-width: 1px !important;
}

.auth-login-button {
  background-color: #003b93 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 10px !important;
}

.auth-cancel-button {
  background-color: #e75d5d !important;
  color: #000000 !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 10px !important;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}